<CascadingAuthenticationState>

	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					<MudText Typo="Typo.h3">Você não está autorizado à acessar esta página</MudText>
				</NotAuthorized>
			</AuthorizeRouteView>
			<FocusOnNavigate RouteData="@routeData" Selector="h1" />
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Endereço inválido.</p>
			</LayoutView>
		</NotFound>
	</Router>

</CascadingAuthenticationState>