@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@DarkModeThemeEnabled" @ref="@_mudThemeProvider" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />



<MudLayout>
	<MudAppBar Dense Elevation="1">
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(e => DrawerToggle())" />
		<MudToggleIconButton @bind-Toggled="@DarkModeThemeEnabled" Color="Color.Inherit" Icon="@Icons.Material.Filled.NightlightRound" ToggledIcon="@Icons.Material.Filled.LightMode" />
		<TopBar />
	</MudAppBar>
	<MudDrawer @bind-Open="_menuIsOpen" ClipMode="DrawerClipMode.Always" Variant="DrawerVariant.Responsive" Elevation="2">
		<NavMenu />
	</MudDrawer>
	<MudMainContent>
		<div class="ma-2 pa-2">
			@Body
		</div>
		<MudScrollToTop>
			<MudFab Size="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowUpward" />
		</MudScrollToTop>
	</MudMainContent>
</MudLayout>
